.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* <-- Asegura que cubra completamente el ancho */
  bottom: 0; /* <-- Asegura que cubra completamente el alto */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

select {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /* Asegura que los botones estén en fila */
  gap: 1rem;
}

.editar-rojo,
.editar-verde {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.25rem;
  cursor: pointer;
}

.editar-verde {
  background-color: #156827;
  color: white;
}

.editar-rojo {
  background-color: #aa1a28;
  color: white;
}

.editar-verde:hover {
  background-color: #3dbe59;
  transform: scale(1.05);
}

.editar-rojo:hover {
  background-color: #e44c5b;
  transform: scale(1.05);
}
.mensaje-error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

/* Estilo base para inputs de texto y número */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Al enfocar el input */
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #030303;
  box-shadow: 0 0 0 1px rgb(7, 7, 7);
}

/*La materia ya está asignada a esa carrera y cuatrimestre.*/
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  display: block;
}

/* Responsive */
@media (max-width: 600px) {
  input[type="text"],
  input[type="number"] {
    font-size: 0.95rem;
    padding: 0.45rem 0.6rem;
  }
}


/* Responsive */
@media (max-width: 600px) {
  .modal-content {
    padding: 1rem;
    max-width: 90%;
  }

  .button-group {
    flex-direction: column;
  }

  .editar-rojo,
  .editar-verde {
    width: 100%; /* Asegura que los botones tengan 100% de ancho en pantallas pequeñas */
  }
}

